<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crypto Tunisia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/coins.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CryptoTunisia.MVC.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" asp-append-version="true"/>
    <script src=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    </script>
    <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
</head>
<body>
<header>
    <nav class="px-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow flex-row justify-content-between">
        <ul class="flex-row align-items-center navbar-nav ml-auto flex-row justify-content-between" style="width:100%">
            <div class="left-side-nav" style="display: flex; flex-direction: row; align-items: center">
                <a class="navbar-brand" asp-area="" asp-controller="Coins" asp-action="Index">
                    <img src="~/images/Logo.png" alt="CryptoTunisia Logo" class=" navbar-brand img-fluid" style="height: 50px"/>
                </a>
                <li class="nav-item flex-row">
                    <a class="nav-link" asp-area="" asp-controller="Coins" asp-action="Index" role="button">
                        All coins
                    </a>
                </li>
            </div>

            <div class="topbar-divider d-none d-sm-block"></div>
            <div style="display: flex; justify-content: center; height: 50px">
                <li class="nav-item flex-row">
                    <a class="nav-link" href="profile" role="button">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Profile</span>
                        <img class="img-profile rounded-circle" style="max-width: 30px" src="/images/profile-icon.svg")>
                    </a>
                </li>
                <li class="nav-item flex-row">
                    <a class="nav-link" href="#" role="button">
                        Logout
                    </a>
                </li>
            </div>

        </ul>

    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - CryptoTunisia.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
